In [1]:
print("""
@Description: Example: Classifying Sentiment of Restaurant Reviews
@Author(s): Stephen CUI
@LastEditor(s): Stephen CUI
@CreatedTime: 2023-04-24 15:00:30
""")

@Description: Example: Classifying Sentiment of Restaurant Reviews
@Author(s): Stephen CUI
@LastEditor(s): Stephen CUI
@CreatedTime: 2023-04-24 15:00:30

In [2]:
import collections
import numpy as np
import pandas as pd
import re
from argparse import Namespace

args = Namespace(
    raw_train_dataset_csv='data/yelp/raw_train.csv',
    raw_test_dataset_csv='data/yelp/raw_test.csv',
    proportion_subset_of_train=.1,
    train_proportion=.7,
    val_proportion=.5,
    test_proportion=.15,
    output_munged_scv='data/yelp/reviews_with_split_lite.csv'
)

In [5]:
train_reviews = pd.read_csv(args.raw_train_dataset_csv,
                            header=None,
                            names=['rating', 'review'])

In [6]:
by_rating = collections.defaultdict(list)

In [7]:
for _, row in train_reviews.iterrows():
    by_rating[row['rating']].append(row.to_dict())

In [28]:
review_subset = []
for _, item_list in sorted(by_rating.items()):
    n_total = len(item_list)
    n_subset = int(args.proportion_subset_of_train * n_total)
    review_subset.extend(item_list[:n_subset])
review_subset = pd.DataFrame(review_subset)

In [29]:
review_subset.sample(5)

       rating                                             review
28499       2  been ordering chubbys for over ten years.  sol...
43693       2  For a white girl, I frequent Lee Lee's often. ...
16262       1  03/06/2014\n\nI've been here before. It has no...
6720        1  after my delicious first wrap, i went in here ...
50931       2  Andie who is serving our take out is AMAZING! ...

In [52]:
for rating in set(review_subset['rating']):
    indices = review_subset[review_subset['rating'] == rating].index.to_numpy()
    np.random.shuffle(indices)
    n_total_by_rating = len(review_subset[review_subset['rating'] == rating])
    n_train_by_rating = int(args.train_proportion * n_total)
    n_val_by_rating = int(args.val_proportion * n_total)
    n_test_by_rating = int(args.test_proportion * n_total)